@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Gemstones&family=Rubik+Vinyl&display=swap');

body {
  color: hotpink;
  background-color: black;  
}

h1, legend {
  font-family: 'Rubik Gemstones', cursive;
  padding-top: 30px;
}

p, label {
  font-family: 'Rubik', sans-serif;
}

input {
  float: left;
}

#intro {
  text-align: center;
}

#order-button {
  font-family: 'Rubik Gemstones', cursive;
}

#total {
  text-align: center;
}



