@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Vinyl&display=swap');


h1, legend {
  font-family: 'Rubik Vinyl', cursive;
}

p, label {
  font-family: 'Rubik', sans-serif;
}

input {
  float: left;
  
}



